
			<div class="col-md-4 col-sm-6 col-xs-12">
				<div class="posts-wrapper">
				  <div class="post">
				    <div class="post-head">
				      <div class="thumb-img">

				      </div>
				      <div class="user-name">
				        <a href="pages/profile?id=<%=item.user_id%>"><%= item.user.username %></a>
				      </div>
				      <div class="time-ago">
				        <%= time_ago_in_words item.created_at %>
				      </div>
				    </div>
				    <div class="image">
						<a class="block-link" href="/items/<%= item.id %>">
						    <%= image_tag item.pictures.first.image.url('small') unless item.pictures.first.nil? %>
						</a>
				    </div>
				    <div class="post-bottom">
				      <div class="caption">
				        <div class="caption-content cushion">
				          <%= item.title %>
							<% if user_signed_in? %>
							<% if current_user.id  == item.user_id %>
									<div class="adminactions">
										<span class="item-delete">
											<%= link_to "/items/#{item.id}", method: "delete", :class=> "confirm" do %>
											<span class="glyphicon glyphicon-remove"></span>
											<% end %>
										</span>
									</div>
							<% end %>
							<% end %>
				        </div>
				      </div>
				    </div>
				  </div>
				</div>


			</div>