
<div class="row">

	<div class="col-md-6">
		<div class="cushion gen-box box">

			<h4 class="sub-heading">Sign up</h4>
<hr/>
			<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
			  <%= devise_error_messages! %>

					<div class="newPaperclipFiles field">
			<p>				<%= f.label :avatar, "Upload your Profile picture" %><%= f.file_field :avatar, :class=> "small-input-file" %><br/></p>
				</div>

			<div class="field">
				<%= f.text_field :username, :class=> " required form-control", :placeholder=>"Username"%>
			   	<%= f.text_field :email, :class=> " required form-control", :placeholder=>"Email" %>
			   	<%= f.text_field :password, :class=> " required form-control", :placeholder=>"Password", :autocomplete => "OFF" %>
			   	<%= f.text_field :password_confirmation, :class=> " required form-control", :placeholder=>"Password confirmation", :autocomplete => "OFF" %>
			   	
</div>
			  <div class="field actions">
			    <%= f.submit "Sign up", :class=>"btn btn-success" %>
			  </div>
			<% end %>

</div>
</div>

<div class="col-md-6">
	<div class="cushion gen-box box">
<h4>Log in</h4>
<hr/>
			<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
			  <div class="field">
			    <%= f.email_field :email, autofocus: true, :class=> " required form-control", :placeholder=>"Email address" %>
			    <%= f.password_field :password, autocomplete: "off", :class=> " required form-control", :placeholder=>"Password" %>
			  </div>

			  <% if devise_mapping.rememberable? -%>
			    <div class="field">
			      <%= f.check_box :remember_me %>
			      <%= f.label :remember_me %>
			    </div>
			  <% end -%>

			  <div class="field actions">
			    <%= f.submit "Log in", :class => "btn btn-success" %>
			  </div>
			<% end %>
<div class="grey-area">
		<%= link_to "Forgot your password?", "/users/password/new"%>
</div>
		</div>	
	</div>
</div>
