
<div class="row">

	<div class="col-md-6">
		<div class="cushion gen-box box">

			<h2 class="sub-heading">Sign up</h2>
<hr/>
			<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
			  <%= devise_error_messages! %>

					<div class="newPaperclipFiles field">
			<p>				<%= f.label :avatar, "Upload your Profile picture" %><%= f.file_field :avatar, :class=> "small-input-file" %><br/></p>
				</div>

			<div class="field">
			    <%= f.label :username %><br />
			    <%= f.email_field :username, autofocus: true %>
			  </div>

			  <div class="field">
			    <%= f.label :email %><br />
			    <%= f.email_field :email %>
			  </div>

			  <div class="field">
			    <%= f.label :password %>
			    <% if @minimum_password_length %>
			    <em>(<%= @minimum_password_length %> characters minimum)</em>
			    <% end %><br />
			    <%= f.password_field :password, autocomplete: "off" %>
			  </div>

			  <div class="field">
			    <%= f.label :password_confirmation %><br />
			    <%= f.password_field :password_confirmation, autocomplete: "off" %>
			  </div>

			  <div class="field actions">
			    <%= f.submit "Sign up", :class=>"btn btn-success" %>
			  </div>
			<% end %>

</div>
</div>

<div class="col-md-6">
	<div class="cushion gen-box box">
<h2>Log in</h2>
<hr/>
			<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
			  <div class="field">
			    <%= f.label :email %><br />
			    <%= f.email_field :email, autofocus: true %>
			  </div>

			  <div class="field">
			    <%= f.label :password %><br />
			    <%= f.password_field :password, autocomplete: "off" %>
			  </div>

			  <% if devise_mapping.rememberable? -%>
			    <div class="field">
			      <%= f.check_box :remember_me %>
			      <%= f.label :remember_me %>
			    </div>
			  <% end -%>

			  <div class="field actions">
			    <%= f.submit "Log in" %>
			  </div>
			<% end %>
<div class="grey-area">
		<%= link_to "Forgot your password?", "/users/password/new"%>
</div>
		</div>	
	</div>
</div>
